.block-btn {
    display: flex;
    justify-content: flex-end;

}
.btn {
    background-color: $btn_bg;
    color: $btn_color;
    padding: 0% 25px;
    border-radius: 20px;
    margin-right: 10%;
}

.btn__link {
    margin-right: 5px;
    color: $btn_color;
    text-decoration: none;
}