/* 
    DISPLAY CONTENU DE LA PAGE 
    DISPOSITION DES ELEMENTS: NAVBAR, ARTICLE
*/


// CONTAINER NAVBAR & POST
#content {
    display: flex;
    flex-wrap: wrap;
}

// SOUS ELLEMENT DE CONTENT
#content>* {
    padding: 1% 1%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
}

/* 
    ROTATION DES ARTICLES, 
    - PAIR
    - IMPAIRE
*/
#content section:nth-child(even) {
    .post {
        @include rotate($post_rotate_even);
    }
}

#content section:nth-child(odd) {
    .post {
        @include rotate($post_rotate_odd);
    }
}

/*
    FORMAT MOBILE
*/
#content section:nth-child(5),
#content section:nth-child(6),
#content section:nth-child(7) {
    flex: 0 1 50%;
}

/* 
    FORMAT MOBILE XL
*/
@media screen and (min-width: $small) {

    #content section:nth-child(n) {
        flex: 0 1 65%;
    }

    #content nav,
    #content section:nth-child(4),
    #content section:nth-child(6),
    #content section:nth-child(7) {
        flex: 0 1 35%;
    }

    .bannerHeader {
        height: 35px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .bannerFloat {
        height: 35px;
        position: absolute;
        top: 1210px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    // HEIGHT POST 
    .post {
        height: 450px;
    }

    #content section:nth-child(-n+2) {
        .post {
            min-height: 500px;
        }
    }
}

/* 
    FORMAT TABLET
*/
@media screen and (min-width: $tablet) {
    #content section:nth-child(n) {
        flex: 0 1 50%;

    }

    #content nav,
    #content section:nth-child(3),
    #content section:nth-child(6),
    #content section:nth-child(7) {
        flex: 0 1 25%;
    }

    .post {
        height: 400px;
    }

    #content section:nth-child(-n+3) {
        .post {
            min-height: 500px;
        }
    }

    .bannerFloat {
        display: none;
    }

}

/* 
    FORMAT DESKTOP
*/
@media screen and (min-width: $desktop) {
    #content section:nth-child(n) {
        flex: 0 1 40%;
    }

    #content nav,
    #content section:nth-child(5),
    #content section:nth-child(6),
    #content section:nth-child(7) {
        flex: 0 1 20%;
    }

    // HEIGHT POST  
    .post {
        height: 400px;
    }

    // height des 3 premier articles
    #content section:nth-child(-n+3) {
        .post {
            min-height: 500px;
        }
    }
}

@media screen and (min-width: $largeDesktop) {
    #content section:nth-child(n) {
        flex: 0 1 calc(100%/3);
    }

    // HEIGHT POST  
    .post {
        height: 345px;
    }

    #content section:nth-child(-n+4) {
        .post {
            min-height: 500px;
        }
    }

    #content nav,
    #content section:nth-child(4),
    #content section:nth-child(6),
    #content section:nth-child(7) {
        flex: 0 1 calc(100%/6);
    }

    .header_text {
        margin-right: 30%;
    }
}

@media screen and (min-width: $xxlDesktop) {
    #content section:nth-child(n) {
        flex: 0 1 calc(100%/3);
    }

    // HEIGHT POST 
    .post {
        height: 400px;
    }

    #content section:nth-child(-n+4) {
        .post {
            min-height: 500px;
        }
    }

    #content nav,
    #content section:nth-child(4),
    #content section:nth-child(6),
    #content section:nth-child(7) {
        flex: 0 1 calc(100%/6);
    }

    .header_text {
        margin-right: 30%;
    }
}