$mobile: 0;
$small: 576px;
$tablet: 720px;
$desktop: 992px;
$largeDesktop : 1200px;

$color_title: #e78300;
$color_secondary: #928f8f;
$color_primary: #000000;

$color_cathegories: #FFFF;
$bg_banner: #FFFF;

$font_title: "Francois One", sans-serif;
$font_text: "Didact Gothic", sans-serif;

$btn_bg: #FFFF;
$btn_color: #000000;