



// CONTAINER NAVBAR & POST
#content {
    display: flex;
    flex-wrap: wrap;
}

// SOUS ELLEMENT DE CONT
#content>* {
    padding: 1% 1%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
}

#content section:nth-child(5),
#content section:nth-child(6),
#content section:nth-child(7) {
    // background-color: rebeccapurple;
    flex: 0 1 50%;
}




@media screen and (min-width: $small) {

    #content section:nth-child(n) {
        // background-color: rebeccapurple;
        flex: 0 1 65%;
    }

    #content nav,
    #content section:nth-child(4),
    #content section:nth-child(6),
    #content section:nth-child(7) {
        // background-color: rebeccapurple;
        flex: 0 1 35%;
    }

    .bannerHeader {
        height: 35px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .banner {
        height: 35px;
        position: absolute;
            top: 1210px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .post {
        min-height: 450px;
        max-height: 450px;
    }

    #content section:nth-child(-n+2) {
        .post {
            // background-color: rebeccapurple;
            min-height: 500px;
        }
    }
}

@media screen and (min-width: $tablet) {
    #content section:nth-child(n) {
        // background-color: rebeccapurple;
        flex: 0 1 50%;

    }

    #content nav,
    #content section:nth-child(3),
    #content section:nth-child(6),
    #content section:nth-child(7) {
        // background-color: rebeccapurple;
        flex: 0 1 25%;
    }
    
    .post {
        min-height: 400px;
        max-height: 400px;
    }
    
    #content section:nth-child(-n+3) {
        .post {
            // background-color: rebeccapurple;
            min-height: 500px;
        }
    }

    .banner {
        display: none;
    }

}

// 
@media screen and (min-width: $desktop) {
    #content section:nth-child(n) {
        // background-color: rebeccapurple;
        flex: 0 1 40%;
    }

    #content nav,
    #content section:nth-child(5),
    #content section:nth-child(6),
    #content section:nth-child(7) {
        // background-color: rebeccapurple;
        flex: 0 1 20%;
    }
    
    // height post 
    .post {
        min-height: 400px;
        max-height: 400px;
    }

    // height des 3 premier articles
    #content section:nth-child(-n+3) {
        .post {
            // background-color: rebeccapurple;
            min-height: 500px;
        }
    }

    // .article__body--title, .post__body--title {
    //     font-size: 2.1739130435rem;
    //     line-height: 1;
    // }
    
}

@media screen and (min-width: $largeDesktop) {
    #content section:nth-child(n) {
        flex: 0 1 calc(100%/3);
    }
    
    // height post 
    .post {
        // background-color: rebeccapurple;
        min-height: 345px;
        max-height: 345px;
    }

    #content section:nth-child(-n+4) {
        .post {
            // background-color: rebeccapurple;
            min-height: 500px;
        }
    }

    #content nav,
    #content section:nth-child(4),
    #content section:nth-child(6),
    #content section:nth-child(7) {
        // background-color: rebeccapurple;
        flex: 0 1 calc(100%/6);
    }

    #header_text {
        margin-right: 30%;
    }
}