@font-face {
	font-family: "Francois One";
	src: url('../font/Francois_One/FrancoisOne-Regular.ttf');
}

@font-face {
	font-family: "Didact Gothic";
	src: url('../font/Didact_Gothic/DidactGothic-Regular.ttf');
}